.categories-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categories-container > * {
    flex: 1 0 21%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 15%;
    min-height: 100vh;
    gap: 50px;
}