.input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.title {
    text-align: end;
    margin-right: 20px;
    display: flex;
    cursor: pointer;
}

.title > p {
    font-weight: 700;
    margin: 0;
}

b {
    color: var(--red);
}

form > div:first-child {
    flex: 1;
}

input[role=combobox] {
    width: 100%;
    padding: 10px 5px;
    border: 3px solid var(--yellow);
}

input[role=combobox]:focus {
    outline: none;
}

.autocomplete {

}

.form-container {
    width: 100%;
}

.search-button {
    padding: 10px 30px;
    background-color: var(--yellow);
    border: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: row;
}