.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-content {
    margin: 0 5%;
}

.header {
    padding-bottom: 20px;
    border-bottom: #282c34 solid 1px;
}