.search-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.background {
    position: absolute;
    background-color: #F6F6F6;
    width: 100%;
    top: 0;
    height: 100%;
    left: 0;
    z-index: -1;
}