.service-src-short {
    border-radius: 4px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.service-short:hover {
    transform: scale(1.02);
}

.service-column .service-name-short > p {
    margin-top: 10px;
    font-size: 1.5em;
}

.service-column p {
    margin: 0;
}

.service-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    align-items: start;
    align-self: stretch;
    text-align: start;
}

.service-short, .service-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.service-short {
    padding: 10px;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    transition: .1s linear all;
}

.service-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}